//https://github.com/ant-design/ant-design/blob/master/components/style/themes/default.less
$primary-color: #1990FF;
$white-color: #fff;
$table-header-bg: $primary-color;
$table-header-color: $white-color;